html,
body {
    height: 100%;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

#shop {
    display: block;
    position: relative;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    margin: 0;
    padding: 0;
}

div.articles_stock.background_color {
    background-color: #337ab7;
}

.articles_stock>label>p {
    margin-left: 5px;
}

.naveBare {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 8%;
    background-color: black;
}

.homeNave {
    width: 80%;
}

.titleNave {
    display: inline-flex;
    color: white;
}

.text {
    display: inline-flex;
    align-self: start;
    font-weight: bold;
    color: white;
    align-content: space-around;
    margin-left: 1%;
}

.article {
    width: 20%;
}

.case>p {
    margin-left: 5%;
}

.case {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-top: 1px black solid;
}

.case:hover {
    background-color: #337ab7;
}

.border {
    border: 1px solid rgb(0, 0, 0);
    background-color: #f9f9f9;
    width: 10em;
    height: 100%;
}


/* formulaire */

.articles_stock {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 33em;
    background-color: rgb(241, 241, 241);
}

div>.articles_stock:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.stockId>p {
    width: 5em;
    height: 1em;
}

.stockName>p {
    width: 8em;
    height: 1em;
}

.stockBrand>p {
    width: 8em;
    height: 1em;
}

.stockPrice>p {
    width: 5em;
    height: 1em;
}

.StockQuantite>p {
    width: 5em;
    height: 1em;
}

#button_card {
    margin: 1em 0 0 27.2em;
    width: 8em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

#button_card:hover {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}


/* ID article */

#phone {
    visibility: visible;
}

#tablet {
    visibility: visible;
}

#computer {
    visibility: visible;
}